# Automatically normalize line endings.
* text=auto

# Files and directories to exclude from `composer require`.
/.github export-ignore
/.wordpress-org export-ignore
/src export-ignore
/tests/ export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore

# Root files that are not needed for distribution.
/babel.config.js export-ignore
/blueprint.json export-ignore
/composer.lock export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/playwright.config.ts export-ignore
/release-please-config.json export-ignore
/tsconfig.base.json export-ignore
/tsconfig.json export-ignore
/webpack.config.js export-ignore


# Mark docs as documentation for GitHub Linguist.
/docs/ linguist-documentation export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md linguist-documentation export-ignore
/SECURITY.md linguist-documentation export-ignore

# Keep license and readme files.
/LICENSE.md linguist-documentation
/README.md linguist-documentation
