# https://phpstan.org/config-reference

parameters:
	# Rules
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	polluteScopeWithAlwaysIterableForeach: false
	polluteScopeWithLoopInitialAssignments: false
	reportAlwaysTrueInLastCondition: true
	reportStaticMethodSignatures: true
	reportWrongPhpDocTypeInVarTag: true

	# Configuration
	level: 8
	phpVersion:
		min: 80200
		max: 80500
	bootstrapFiles:
		- rtcamp-publish-with-ai.php
	paths:
		- rtcamp-publish-with-ai.php
		- uninstall.php
		- framework/
		- inc/
		- templates/
	excludePaths:
		analyse:
			- tests/
			- vendor/
		analyseAndScan:
			- node_modules (?)
	scanFiles:
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
