#toplevel_page_rtcamp-publish-with-ai { // stylelint-disable selector-id-pattern

	.wp-menu-image {
		background-image: var(--rtpwai-menu-icon-url) !important;
		background-size: 20px !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
	}

	.wp-menu-image::before {
		display: none !important;
	}
}
